/*Layout
=============================*/
body {
	padding-top: 70px;
}
.container {
	max-width: 940px;
}

/*Jumbotron
=============================*/
.jumbotron {
	text-align: center;
}

/*Text box
=============================*/
.input {
	width: 215px;
	/*height: 75px;*/
	margin: 10px auto;
	display: block;
	text-align: center;
}